body {
  margin: auto;
  background: rgb(2, 1, 23);
  background: linear-gradient(
    90deg,
    rgba(2, 1, 23, 0.894642891336222) 0%,
    rgba(2, 13, 25, 0.9641106442577031) 99%,
    rgba(248, 245, 245, 0.9220938375350141) 100%
  );
}

.topnav {
  position: sticky;
  top: 0;
  background-color: #333;
  z-index: 100;
}

@media only screen and (max-width: 700px) {
  .topnav {
    display: none;
  }
}

.topnav a {
  margin-top: 0;
  float: right;
  display: block;
  color: aquamarine;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: none;
  color: red;
}

.topnav a.active {
  background-color: none;
  color: aquamarine;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.light {
  color: aqua;
  margin: 100px;
  border: none;
}

.main_header {
  color: #f9fdfb;
  margin: 100px;
  border: none;
  font-size: 50px;
}

@media (max-width: 768px) {
  .light {
    margin: 20px;
  }

  .main_header {
    margin: 20px;
    font-size: 30px;
  }
}

.intro {
  color: #f9fdfb;
  margin: 100px;
  border: none;
  font-family: "Lucida Console", "Courier New", monospace;
}

.light h3 {
  animation: moveRight 1s ease-in-out forwards;
  opacity: 0;
  transform: translateX(-100%);
}

.main_header h1,
.intro h1 {
  animation: moveRight 1s ease-in-out forwards;
  opacity: 0;
  transform: translateX(-100%);
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.button {
  margin: 100px;
  border: 2px solid aqua;
  background-color: transparent;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .light h3,
  .main_header h1,
  .intro h1 {
    font-size: 18px;
  }

  .button {
    padding: 10px 20px;
    font-size: 16px;
  }
}

.para {
  text-align: left;
  color: white;
  font-size: 50px;
}

.para.u {
  color: white;
}

@media (max-width: 768px) {
  .para {
    font-size: 30px;
  }

  .para u {
    text-decoration: underline;
  }

  .para b {
    font-weight: bold;
  }
}

.title {
  font-size: 50px;
  color: aquamarine;
  margin: 10px;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
    margin: 5px;
  }
}

hr {
  border-color: aquamarine;
  border-width: 2px;
  width: 60%;
  margin-left: 0%;
}

.about {
  font-size: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated-element {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-element.active {
  opacity: 1.5;
  transform: translateY(0);
}

.animated-element2 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-element2.active {
  opacity: 1.5;
  transform: translateY(0);
}

.animated-element3 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.animated-element3.active {
  opacity: 1.5;
  transform: translateY(0);
}

.animated-element4 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.animated-element4.active {
  opacity: 1.5;
  transform: translateY(0);
}

.animated-element5 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease, transform 2s ease;
}

.animated-element5.active {
  opacity: 1.5;
  transform: translateY(0);
}

.animated-element6 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease, transform 2s ease;
}

.animated-element6.active {
  opacity: 1.5;
  transform: translateY(0);
}

.animated-element7 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2.5s ease, transform 2.5s ease;
}

.animated-element7.active {
  opacity: 1.5;
  transform: translateY(0);
}

.animated-element_profile {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 2.5s ease, transform 2.5s ease;
}

.animated-element_profile.active {
  opacity: 1;
  transform: translateX(0);
}

@keyframes enterFromLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.img-container img {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 400px;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .img-container img {
    width: 100%;
    height: auto;
  }
}

.box1 {
  width: 400px;
  height: 500px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  margin: 0;
  color: white;
  transition: transform 1s ease-in-out;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 5px solid aqua;
  border-bottom: 5px solid aqua;
}

@media (max-width: 768px) {
  .box1 {
    margin-left: 10px;
    width: 85%;
    height: auto;
    margin-bottom: 20px;
  }
}

.box1:hover {
  color: rgb(253, 244, 244);
  border: 5px solid aqua;
  transform: scale(0.9);
}

div.gallery {
  border: none;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 5px solid aqua;
  border-bottom: 5px solid aqua;
  transition: transform 1s ease-in-out;
}

div.gallery:hover {
  color: rgb(253, 244, 244);
  border: 5px solid aqua;
  transform: scale(0.9);
}

div.gallery img {
  width: 100%;
  height: 30%;
}

div.desc1 {
  padding: 15px;
  text-align: center;
  color: white;
}

div.desc2 {
  padding: 15px;
  text-align: left;
  color: white;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .responsive {
    display: block;
    width: 85%;
    margin: 10px;
  }
}

.copyright {
  position: relative;
  bottom: 10px;
  right: 10px;
  background-color: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.fa {
  padding: 15px;
  font-size: auto;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border: none;
}

@media (max-width: 768px) {
  .copyright {
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: white;
    border-radius: 0;
    font-size: 45%;
  }
}

.fa:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

.fa-facebook {
  background: rgb(55, 56, 56);
  color: aqua;
}

.fa-linkedin {
  background: rgb(55, 56, 56);
  color: aqua;
}

.fa-instagram {
  background: rgb(55, 56, 56);
  color: aqua;
}

.fa-twitter {
  background: rgb(55, 56, 56);
  color: aqua;
}

.container3 {
  background-color: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px aqua;
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
}

.f_h2 {
  text-align: center;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  color: #fff;
}

label {
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #060606;
  color: aqua;
  border: 1px solid aqua;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #000000;
}

.box2 {
  width: 200px;
  height: 400px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  margin-left: 10px;
  color: white;
  transition: transform 1s ease-in-out;
  font-size: 20px;
}

.box3 {
  width: 400px;
  height: 400px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  margin: 0;
  color: white;
  transition: transform 1s ease-in-out;
  font-size: 20px;
}

ul {
  list-style-type: square;
}

ul li {
  padding-left: 20px;
}

.remove {
  color: none;
}

.btn {
  background-color: transparent;
  border: none;
  color: aqua;
  padding: 12px 16px;
  font-size: 28px;
  cursor: pointer;
}

.btn:hover {
  background-color: none;
}

.container_bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.skill-bars {
  width: 45%;
  background-color: none;
  position: relative;
}

.skill-bar-container_bar {
  margin-bottom: 20px;
}

.skill-label {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.skill-meter {
  background-color: #3d3d3d;
  height: 20px;
  position: relative;
}

.skill-bar-progress {
  background-color: #3d3d3d;
  height: 20px;
  border-radius: 4px;
  position: relative;
}

.fill-meter {
  background-color: aqua;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  animation: fill 2s linear forwards;
}

@keyframes fill {
  0% {
    width: 0;
  }

  80% {
    width: 80%;
  }

  100% {
    width: 80%;
  }
}

.fill0-meter {
  background-color: aqua;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  animation: fill0 2s linear forwards;
}

@keyframes fill0 {
  0% {
    width: 0;
  }

  80% {
    width: 90%;
  }

  100% {
    width: 90%;
  }
}

.fill1-meter {
  background-color: aqua;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  animation: fill1 2s linear forwards;
}

@keyframes fill1 {
  0% {
    width: 0;
  }

  80% {
    width: 35%;
  }

  100% {
    width: 35%;
  }
}

.fill2-meter {
  background-color: aqua;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  animation: fill2 2s linear forwards;
}

@keyframes fill2 {
  0% {
    width: 0;
  }

  80% {
    width: 60%;
  }

  100% {
    width: 60%;
  }
}

.fill3-meter {
  background-color: aqua;
  width: 0;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  animation: fill3 2s linear forwards;
}

@keyframes fill3 {
  0% {
    width: 0;
  }

  80% {
    width: 40%;
  }

  100% {
    width: 40%;
  }
}

.container_bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.skill-bars {
  width: 45%;
}

.skill-bar-container_bar {
  margin-bottom: 20px;
}

.skill-label {
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.skill-bar-progress {
  background-color: #3d3d3d;
  height: 20px;
  border-radius: 4px;
  position: relative;
}

.skill-bar-fill {
  height: 100%;
  width: 80%;
  background-color: aqua;
  border-radius: 4px;
}

.animated-element_skills {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease, transform 2s ease;
}

.animated-element_skills.active {
  opacity: 1.5;
  transform: translateY(0);
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .box2 {
    flex: 1;
  }

  .box3 {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .box2,
  .box3 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
  }

  ul li {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .body {
    width: fit-content;
    height: auto;
  }

  .intro {
    display: block;
    margin-left: 2px;
    margin-top: 50px;
  }

  .light {
    display: block;
    margin-left: 2px;
  }

  .main_header {
    margin-left: 2px;
  }

  .animated-element_profile img {
    margin-top: 50px;
    margin-right: 40px;
    width: 200px;
    height: auto;
  }

  .container {
    display: block;
  }

  .about {
    display: block;
    font-size: 15px;
  }

  p {
    display: block;
    margin: 5px;
  }

  .container3 {
    margin-left: 20px;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .skill-bars {
    margin-left: -20px;
  }

  .skill-bar-progress,
  .skill-bar-fill {
    width: 80%;
    height: 8px;
  }

  .box2 {
    display: block;
    margin-top: -100px;
  }

  .box3 {
    display: block;
    margin-top: -250px;
  }

  .box2 h1 {
    font-size: 25px;
    margin-left: 10px;
  }

  .box2 p {
    font-size: 20px;
    margin-left: 10px;
  }

  ul {
    font-size: 20px;
    display: block;
    margin-left: 0px;
  }

  .remove {
    display: none;
  }
}
